
/* Relevant CSS below */

#canvas {
    display: flex;
    justify-items: flex-start;
    width: 500px;
    height: 500px;
    border-radius: 1px;
    outline: 5px solid black;
    background-color: red;
    margin: auto;
    flex-wrap: wrap
}

.square {
  background: white;
}




/* Irrelevant CSS below */

#header {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 100px
}

#reset {
    margin: 5px;
}

#userInput {
    margin: 5px;
}



#footer {
    display: flex;
    justify-content: center;
    background-color: white;
}

#footer h1 {
    padding: 75px
}




